:host {
  display: block;
}

:host {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  max-width: 50%;
}

:host h1, :host h2 {
  margin: 0 0 0.5rem 0;
}

:host .poll-party-results, :host .poll-party-vote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: start;
  align-items: start;
}

:host .poll-party-vote form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-items: start;
  align-items: start;
}

:host .poll-party-vote form label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

:host .poll-party-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}